.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .field-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .value {
      flex-grow: 1;
    }
  }
}
