.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .grid-container {
    display: grid;
    grid-template-columns: min(40%, 15rem) auto;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 1rem;
    align-items: center;

    .label {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .value {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .release-lifetime-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .installers-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

    .installers-header-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

      .using-installers-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .card-container {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: center;

          .card-header {
            margin: 0;
            flex-grow: 1;
          }
        }
      }
    }
}
