<div class="container">
  <form class="grid-container" *tuiLet="selectedApplication$ | async as selectedApplication" [formGroup]="control">
    <label tuiLabel class="label">Название:</label>
    <tui-textfield class="value">
      <input tuiTextfield formControlName="name"/>
    </tui-textfield>
    <label tuiLabel class="label">Client ID:</label>
    <tui-copy class="value">{{ selectedApplication?.clientId }}</tui-copy>
    <label tuiLabel class="label">Client Secret:</label>
    <tui-copy class="value">{{ selectedApplication?.clientSecret }}</tui-copy>
    <label tuiLabel class="label">Redirect URLs:</label>
    <app-input-string-array formControlName="redirectUrls" />
  </form>
  <button tuiButton iconStart="@tui.save" (click)="saveChanges()" [loading]="isSaving | async">Сохранить</button>
</div>
