.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;

  .grid-container {
    width: 100%;
    display: grid;
    @media (max-width: 600px) {
      grid-template-columns: auto;
    }
    @media (min-width: 601px) {
      grid-template-columns: min(40%, 15rem) auto;
    }
    grid-template-rows: auto;
    grid-row-gap: 1rem;
    align-items: center;

    .label {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .value {
      @media (max-width: 600px) {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      @media (min-width: 601px) {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }

    .release-lifetime-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .installers-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .installers-header-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .using-installers-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .card-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        .card-header {
          margin: 0;
          flex-grow: 1;
        }
      }
    }
  }
}
