<div tuiCardLarge class="user-card">
  <div class="container">
    <tui-copy>{{ user().id }}</tui-copy>
    <div class="control-container">
      <tui-textfield tuiChevron tuiTextfieldSize="m" [tuiTextfieldCleaner]="false" class="provider-selector"
                     [content]="content" *tuiLet="providers$ | async as providers">
        <input tuiSelect [formControl]="control"/>
        <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="providers" [itemContent]="content"/>
      </tui-textfield>
      <button tuiIconButton iconStart="@tui.trash" appearance="flat-destructive" (click)="deleteUser()"
              size="m"></button>
    </div>
  </div>
  <div *tuiLet="selectedAccount$ | async as account" class="account-info-container">
    <div class="side-container">
      <tui-avatar [src]="account?.avatarUrl" size="m"/>
      <tui-copy>{{ account?.name }}</tui-copy>
    </div>
    <div class="side-container">
      <tui-copy>{{ account?.email }}</tui-copy>
    </div>
  </div>
  <div class="subscriptions-container">
    @if (user().subscriptions.length == 0) {
      <label tuiLabel>Нет подписок</label>
    } @else {
      <label tuiLabel>Подписки:</label>
      @for (subscription of user().subscriptions; track subscription.id) {
        @let plan = subscription.planId | subscriptionPlanById | async;
        <tui-badge [tuiHint]="planInfoTooltip">{{ plan?.info?.displayName }}</tui-badge>
        <ng-template #planInfoTooltip>
          <label tuiLabel>Действует до <b>{{ subscription.expiresAt | formatDate }}</b></label>
        </ng-template>
      }
    }
    <button tuiButton iconStart="@tui.plus" size="m" appearance="flat" (click)="giveSubscription()">Добавить</button>
  </div>
</div>

<ng-template
  #content
  let-provider
>
  <div *tuiLet="provider.providerId | providerInfo | async as info" class="card">
    {{ info?.name }}
  </div>
</ng-template>
