.user-card {
  padding: 1rem;

  .container {
    display: flex;
    gap: 1rem;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: start;
    }
    @media (min-width: 601px) {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .control-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      .provider-selector {
        min-width: 10rem;
      }
    }
  }

  .account-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .side-container {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}
