.plans-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  align-items: stretch;

  .plan-card {
    width: 20rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .description {
      height: 5rem;
    }

    .advantages-scroll {
      flex-grow: 1;
    }

    * {
      margin: 0;
    }
  }
}
