<div class="container">
  <h1>{{ clientName$ | async }}</h1>
  <form tuiCardLarge class="card-container" [formGroup]="control" (ngSubmit)="submit()">

    <div class="switch-container">
      <input tuiSwitch type="checkbox" formControlName="changePassword">
      <label tuiLabel>Изменить пароль</label>
    </div>
    @if (changePassword$ | async) {
      <label tuiLabel>Старый пароль</label>
      <tui-textfield>
        <input tuiTextfield type="password" formControlName="oldPassword"/>
      </tui-textfield>

      <label tuiLabel>Новый пароль</label>
      <tui-textfield>
        <input tuiTextfield type="password" formControlName="newPassword"/>
      </tui-textfield>

      <label tuiLabel>Новый пароль еще раз</label>
      <tui-textfield>
        <input tuiTextfield type="password" formControlName="newPasswordAgain"/>
      </tui-textfield>
    }

    <label tuiLabel>Имя пользователя</label>
    <tui-textfield>
      <input tuiTextfield formControlName="username"/>
    </tui-textfield>
    <label tuiLabel>Email</label>
    <tui-textfield>
      <input tuiTextfield type="email" formControlName="email"/>
    </tui-textfield>
    <label tuiLabel>Аватар</label>
    <div class="avatar-container">
      <tui-avatar size="xxl" [src]="'/api/v1/avatar/' + control.value.avatarId"/>
    </div>
    <app-file-uploader formControlName="avatarId"/>

    <tui-error [error]="error | async"></tui-error>

    <button tuiButton type="submit">Сохранить</button>
  </form>
</div>
