.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.6rem;
  padding: 1rem 0 0 0;

  .bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.permission-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  * {
    margin: 0;
  }
}

.result-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
