<div class="container" *tuiLet="selectedProviderInfo$ | async as providerInfo">
  <a tuiButton routerLink="../" iconStart="@tui.chevron-left" appearance="flat">Назад</a>

  <p tuiLabel>
    Создайте приложение {{ providerInfo?.name }} (<a [href]="providerInfo?.url">{{ providerInfo?.url }}</a>).
    Укажите Redirect URL
    <tui-copy>{{ redirectUrl }}</tui-copy>
  </p>

  <form class="grid-container" [formGroup]="control">
    <label tuiLabel class="label">Client ID:</label>
    <tui-textfield class="value">
      <input tuiTextfield formControlName="clientId"/>
    </tui-textfield>

    <label tuiLabel class="label">Client Secret:</label>
    <tui-textfield class="value">
      <input tuiTextfield formControlName="clientSecret"/>
    </tui-textfield>

    <label tuiLabel class="label">Сохранять токены:</label>
    <input tuiSwitch type="checkbox" formControlName="saveTokens"/>
  </form>
  <button tuiButton iconStart="@tui.save" (click)="saveChanges()" [loading]="isSaving | async">Сохранить</button>
</div>
