.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  .token-card {
    padding: 1rem;

    .card-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      .info-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;

        h3 {
          margin: 0;
        }

        .permissions-container {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          overflow-y: scroll;
        }
      }
    }
  }
}
